body {
    background: #eaeaea;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 300px;
}

.covered{
    grid-column: 1/4;
    grid-row: 1/6;
    text-align: center;
    background: #bfdbe9;
}

.learn{
    background: #ff6e46;
    grid-column:4/7;
    grid-row: 1/span 3;
    text-align: center;
    justify-items: center;
    align-items: center;
}
.join{
    background: #ffb538;
    grid-column: 4/7;
    grid-row: 3/span 6;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.family {
    height: 280px;
    width: 300px;
    float: right;

}

p{
    padding-left: 70px;
    padding-right: 80px;
letter-spacing: 2px;

}

h1 {
    padding-left: 70px;
    padding-right: 80px;
    font-size: 40px;
    text-align: left;
}

button{
    background: #ffffff;
    padding: 12px 28px;
    border-radius: 12px;
    padding-left: 70px;
    padding-right: 80px;
}

.nav{
    background: #eaeaea;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    list-style-type: none;
}
